altgraph==0.17.2
ebookmeta==0.11.2
future
lxml>=4.6.5
pefile==2021.9.3
pyinstaller==4.7
pyinstaller-hooks-contrib==2021.3
PyQt5==5.15.5
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
PyQt5-stubs==5.15.2.0
pywin32-ctypes==0.2.0
